<h1>Listing album_owneds</h1>

<table>
  <tr>
    <th>Datewished</th>
    <th>Dateacquired</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @album_owneds.each do |album_owned| %>
  <tr>
    <td><%= album_owned.datewished %></td>
    <td><%= album_owned.dateacquired %></td>
    <td><%= link_to 'Show', album_owned %></td>
    <td><%= link_to 'Edit', edit_album_owned_path(album_owned) %></td>
    <td><%= link_to 'Destroy', album_owned, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album owned', new_album_owned_path %>
